.automotive-banner-section {
  padding: 85px 0;
  margin: 0;
  position: relative;
  background-color: #f2f2f2;

  .automotive-banner-div {
    position: relative;
  }

  .banner-left-div {
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 610px;
    z-index: 2;

    h1 {
      color: #1c283a;
      font-size: 39px;
      line-height: 1.2;
      margin: 0 0 28px 0;

      .color-text {
        color: #6fb02f;
      }
    }

    .list-div {
      margin: 0 0 40px 0;

      ul {
        li {
          font-weight: 400;
          font-size: 24px;
          line-height: 33px;
          color: #737c8b;
          display: block;
          padding: 0 0 0 29px;
          margin: 0 0 25px 0;
          position: relative;

          &::before {
            content: "";
            height: 8px;
            width: 8px;
            background-color: #737c8b;
            display: inline-block;
            border-radius: 99px;
            position: absolute;
            top: 12px;
            left: 0;
          }
        }
      }
    }
  }

  .banner-right-div {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 532px;
    width: 100%;

    .img-fluid {
      object-fit: contain;
    }
  }
}

.am-content-section {
  padding: 120px 0 104px 0;
  margin: 0;
  position: relative;
  background-color: #1c283a;

  .am-content-div {
    position: relative;
  }

  .content-center-div {
    margin: 0 0 50px 0;
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 43px;
      line-height: 1.2;
      color: #6fb02f;
      text-align: center;
      margin: 0 0 25px 0;
    }

    p {
      font-size: 23px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      line-height: 37px;
      font-weight: 400;
      margin: 0 0 25px 0;

      b {
        font-weight: 600;
      }
    }
  }

  .color-content-bx-root-div {
    padding: 0;
    margin: 0;
    position: relative;

    .mlr-8 {
      margin-left: -8px;
      margin-right: -8px;
    }

    .plr-8 {
      padding-left: 8px;
      padding-right: 8px;
    }

    .color-content-bx-card {
      padding: 30px;
      margin: 0 0 16px 0;
      position: relative;
      background: #2a3c56;
      min-height: calc(100% - 16px);
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .color-content-bx-card-row {
        p {
          color: #fff;
          margin: 0;
          font-size: 22px;
          line-height: 36px;
          font-weight: 400;
          text-align: center;

          .color-text {
            color: #6fb02f;
          }
        }
      }
    }
  }
}

.auto-bk-trial-content-section {
  padding: 58px 0;
  margin: 0;
  background: #f58031;
  position: relative;

  .text-div {
    h3 {
      font-size: 34px;
      line-height: 43px;
      font-weight: 700;
      color: #fff;
      max-width: 698px;
      margin: 0;
    }
  }

  .btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .btn.btn-black-primary {
      background-color: #1c283a;
      border-color: #1c283a;
      color: #fff;
      transition: all 0.8s;
      outline: 0;
      padding: 8px 20px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 99px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:hover {
        box-shadow: 0 5px 10px 0 rgba(28, 40, 58, 0.3);
      }
    }
  }
}

.ss-card-content-section {
  padding: 120px 0 104px 0;
  margin: 0;
  position: relative;

  .ss-card-content-div {
    position: relative;
  }

  .ss-content-center-div {
    margin: 0 0 60px 0;
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 44px;
      line-height: 1.4;
      text-align: center;
      max-width: 762px;
      margin: 0 auto 25px auto;
    }
  }

  .ss-content-bx-root-div {
    padding: 0;
    margin: 0;
    position: relative;

    .mlr-8 {
      margin-left: -8px;
      margin-right: -8px;
    }

    .plr-8 {
      padding-left: 8px;
      padding-right: 8px;
    }

    .social-selling-bx-card {
      padding: 30px;
      margin: 0 0 16px 0;
      position: relative;
      background: #fafafa;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      border-radius: 8px;
      min-height: calc(100% - 16px);
      transition: all 0.8s;

      &:hover {
        box-shadow: 20px 10px 20px 0 rgba(0, 0, 0, 0.14);
      }

      .social-selling-thumb-div {
        padding: 30px 0;
        margin: 0 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .img-icons {
          height: 60px;
          width: 60px;
          object-fit: contain;
        }
      }

      .social-selling-text-div {
        h3 {
          font-size: 22px;
          color: rgba(28, 40, 58, 0.8);
          text-align: center;
          line-height: 30px;
          font-weight: 600;
          margin: 0 0 10px 0;
        }

        p {
          text-align: center;
          line-height: 1.5;
          color: rgba(28, 40, 58, 0.8);
          font-size: 16px;
        }
      }
    }
  }
}

.blog-news-section {
  padding: 80px 0 80px 0;
  margin: 0;
  position: relative;
  background: #fbfbfb;

  .blog-news-div {
    position: relative;
  }

  .blog-news-center-div {
    padding: 0;
    margin: 0 0 50px 0;
    position: relative;

    .title-div {
      text-align: center;
      padding: 0 100px;

      h2 {
        font-size: 44px;
        line-height: 48px;
        font-weight: 700;
      }
    }

    .btn-div {
      position: absolute;
      top: 0;
      right: 0;
      min-height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .link {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #f58031;
        letter-spacing: 0;
        text-decoration: underline;
      }
    }
  }

  .blog-news-content-bx-root {
    padding: 0;
    margin: 0;
    position: relative;

    .owl-carousel {
      .owl-nav {
        display: flex;

        button.owl-next,
        button.owl-prev {
          background: #1c283a;
          color: #fff;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          position: absolute;
          top: 161px;
          margin: 0;

          .span-round-circle {
            display: flex;
          }

          &.disabled {
            background: #cbcbcb;
          }
        }

        button.owl-next {
          right: -60px;
        }

        button.owl-prev {
          left: -60px;
        }
      }
    }

    .blog-news-bx-card {
      padding: 0;
      margin: 0;
      position: relative;

      .blog-news-thumb-div {
        .img-link {
          display: block;
        }

        .img-ne {
          object-fit: cover;
          border-radius: 8px;
          height: 359px;
          width: 100%;
        }
      }

      .blog-news-text-div {
        padding: 20px 0 0 0;
        margin: 0;
        position: relative;

        h3 {
          font-size: 24px;
          letter-spacing: 0;
          line-height: 34px;
          margin: 0 0 7px 0;

          a {
            color: inherit;
          }
        }

        p {
          font-weight: 400;
          font-size: 14px;
          color: rgba(28, 40, 58, 0.8);
          letter-spacing: 0;
          line-height: 23px;
          margin: 0 0 7px 0;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }

        h4 {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.2;
          color: #f58031;
          letter-spacing: 0;
          margin: 0;
        }
      }
    }
  }
}

.faq-accordion-content-section {
  padding: 100px 0 84px 0;
  margin: 0;
  position: relative;

  .faq-accordion-content-div {
    position: relative;
  }

  .faq-accordion-center-div {
    margin: 0 0 45px 0;
    position: relative;

    h2 {
      font-weight: 700;
      font-size: 44px;
      line-height: 1.4;
      text-align: center;
      max-width: 762px;
      margin: 0 auto 25px auto;
    }
  }

  .accordion-faq {
    .accordion {
      .card {
        border-bottom: 1px solid #e3e3e3 !important;
        border: none;
        background: #fff;
        border-radius: 0;
        margin: 0 0 4px 0;

        .show {
          .card-body {
            border-color: #e3e3e3;
          }
        }

        .card-header {
          padding: 0;
          background-color: transparent;
          border-bottom: 0;
          border-radius: 0;

          .btn-link {
            font-size: 22px;
            color: #1c283a;
            letter-spacing: -0.1px;
            font-weight: 500;
            line-height: 27px;
            padding: 20px 80px 20px 40px;
            text-align: left;
            width: 100%;
            position: relative;
            word-break: break-word;
            white-space: normal;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            min-height: 100px;
            border-radius: 0;

            &.collapsed {
              .material-icons-span:before {
                content: "\e145";
              }
            }

            .material-icons-span {
              position: absolute;
              right: 0;
              top: 0;
              background-color: transparent;
              height: 100px;
              width: 100px;
              font-size: 30px;
              color: #f58031;
              display: flex;
              align-items: center;
              justify-content: center;

              &:before {
                content: "\e15b";
              }
            }
          }
        }

        .card-body {
          border-top: 1px solid #e3e3e3;
          background: #fff;
          padding: 15px 100px 15px 40px;

          p {
            padding: 0;
            margin: 0;
            font-weight: 300;
            font-size: 18px;
            color: #424242;
            letter-spacing: 0;
            line-height: 36px;
          }
        }
      }
    }
  }
}

.nl-subscribe-section {
  padding: 60px 0;
  margin: 0;
  background: #f58031;
  position: relative;

  .text-div {
    max-width: 460px;

    h3 {
      font-size: 34px;
      line-height: 43px;
      font-weight: 700;
      color: #fff;
      margin: 0 0 12px 0;
    }

    p {
      font-size: 14px;
      color: #fff;
      letter-spacing: 0;
      line-height: 20px;
      font-weight: 400;
      margin: 0;
    }
  }

  .input-btn-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 10px 0;

    .form-group {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;

      .form-control {
        border: none;
        border-radius: 6px;
        height: 60px;
        padding-right: 190px;
      }

      .btn-group-div {
        position: absolute;
        right: 0;
      }

      .btn.btn-subscribe {
        background-color: #1c283a;
        border-color: #1c283a;
        color: #fff;
        transition: all 0.8s;
        outline: 0;
        padding: 8px 20px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 0 6px 6px 0;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-width: 180px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .automotive-banner-section {
    padding: 60px 0 20px 0;

    .banner-left-div {
      max-width: 460px;
      padding: 0 0 220px 0;

      h1 {
        font-size: 28px;
      }

      .list-div {
        ul {
          li {
            font-size: 16px;
            line-height: 1.5;
            padding: 0 0 0 20px;
          }
        }
      }
    }

    .banner-right-div {
      max-width: 240px;
      bottom: 0;
      top: auto;
    }
  }

  .am-content-section {
    padding: 80px 0 64px 0;

    .content-center-div {
      h2 {
        font-size: 24px;
        line-height: 1.4;
      }

      p {
        font-size: 14px;
        line-height: 1.8;
      }
    }

    .color-content-bx-root-div {
      .color-content-bx-card {
        padding: 15px;

        .color-content-bx-card-row {
          p {
            font-size: 14px;
            line-height: 1.8;
          }
        }
      }
    }
  }

  .auto-bk-trial-content-section {
    .text-div {
      margin: 0 0 30px 0;

      h3 {
        font-size: 22px;
        line-height: 1.5;
      }
    }
  }

  .ss-card-content-section {
    padding: 80px 0 84px 0;

    .ss-content-center-div {
      h2 {
        font-size: 24px;
        max-width: 560px;
      }
    }

    .ss-content-bx-root-div {
      .social-selling-bx-card {
        padding: 15px;

        .social-selling-text-div {
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }

  .blog-news-section {
    .blog-news-center-div {
      .title-div {
        padding: 0;

        h2 {
          font-size: 24px;
          line-height: 1.5;
        }
      }

      .btn-div {
        position: relative;
        min-height: auto;

        .link {
          font-size: 12px;
          line-height: 21px;
        }
      }
    }

    .blog-news-content-bx-root {
      .owl-carousel {
        .owl-nav {
          justify-content: center;
          padding: 40px 0 0 0;

          button.owl-prev {
            left: 0;
            position: relative;
            top: auto;
            margin: 0 5px;
          }

          button.owl-next {
            right: 0;
            position: relative;
            top: auto;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .faq-accordion-content-section {
    padding: 80px 0 65px 0;

    .faq-accordion-center-div {
      margin: 0 0 25px 0;

      h2 {
        font-size: 30px;
      }
    }

    .accordion-faq {
      .accordion {
        .card {
          .card-header {
            .btn-link {
              font-size: 14px;
              line-height: 1.8;
              min-height: 60px;
              padding: 15px 60px 18px 0;

              .material-icons-span {
                height: 60px;
                width: 60px;
                font-size: 22px;
              }
            }
          }

          .card-body {
            padding: 15px 0 15px 0;

            p {
              font-size: 14px;
              line-height: 2;
            }
          }
        }
      }
    }
  }

  .nl-subscribe-section {
    .text-div {
      margin: 0 0 15px 0;

      h3 {
        font-size: 24px;
        line-height: 1.5;
      }
    }

    .input-btn-div {
      .form-group {
        flex-wrap: wrap;

        .form-control {
          padding-right: 20px;
        }

        .btn-group-div {
          margin: 10px 0 0 0;
          position: relative;
          right: auto;
          width: 100%;
        }

        .btn.btn-subscribe {
          border-radius: 6px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .automotive-banner-section {
    .banner-left-div {
      max-width: 460px;

      h1 {
        font-size: 30px;
      }

      .list-div {
        ul {
          li {
            font-size: 18px;
            line-height: 1.5;
            padding: 0 0 0 20px;
          }
        }
      }
    }

    .banner-right-div {
      max-width: 320px;
    }
  }

  .am-content-section {
    padding: 100px 0 84px 0;

    .content-center-div {
      h2 {
        font-size: 30px;
        line-height: 1.4;
      }

      p {
        font-size: 18px;
        line-height: 2;
      }
    }

    .color-content-bx-root-div {
      .color-content-bx-card {
        padding: 15px;

        .color-content-bx-card-row {
          p {
            font-size: 16px;
            line-height: 1.8;
          }
        }
      }
    }
  }

  .auto-bk-trial-content-section {
    .text-div {
      h3 {
        font-size: 22px;
        line-height: 1.5;
      }
    }
  }

  .ss-card-content-section {
    padding: 80px 0 84px 0;

    .ss-content-center-div {
      h2 {
        font-size: 30px;
        max-width: 560px;
      }
    }

    .ss-content-bx-root-div {
      .social-selling-bx-card {
        padding: 15px;

        .social-selling-text-div {
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }

  .blog-news-section {
    .blog-news-center-div {
      .title-div {
        h2 {
          font-size: 30px;
        }
      }
    }

    .blog-news-content-bx-root {
      .owl-carousel {
        .owl-nav {
          justify-content: center;
          padding: 40px 0 0 0;

          button.owl-prev {
            left: 0;
            position: relative;
            top: auto;
            margin: 0 5px;
          }

          button.owl-next {
            right: 0;
            position: relative;
            top: auto;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .faq-accordion-content-section {
    .faq-accordion-center-div {
      h2 {
        font-size: 30px;
      }
    }

    .accordion-faq {
      .accordion {
        .card {
          .card-header {
            .btn-link {
              font-size: 16px;
              min-height: 60px;
              padding: 15px 60px 18px 15px;

              .material-icons-span {
                height: 60px;
                width: 60px;
              }
            }
          }

          .card-body {
            padding: 15px 60px 15px 15px;

            p {
              font-size: 14px;
              line-height: 2;
            }
          }
        }
      }
    }
  }

  .nl-subscribe-section {
    .text-div {
      h3 {
        font-size: 30px;
        line-height: 43px;
      }
    }

    .input-btn-div {
      .form-group {
        flex-wrap: wrap;

        .form-control {
          padding-right: 20px;
        }

        .btn-group-div {
          margin: 10px 0 0 0;
          position: relative;
          right: auto;
          width: 100%;
        }

        .btn.btn-subscribe {
          border-radius: 6px;
          width: 100%;
        }
      }
    }
  }
}
