.blog-section {
  background-color: #fff;
  padding: 42px 0 50px;
}

.blog-section .custom-checkbox-2 {
  margin: 20px 0;
}

.blog-section .custom-checkbox-2 .custom-control-label {
  font-weight: 400;
  color: #737c8b;
  font-size: 14px;
  line-height: 17px;
}

.blog-section .custom-checkbox-2 .custom-control-label::before {
  top: 0;
  left: -8px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.blog-section .custom-checkbox-2 .custom-control-label::after {
  top: -2px;
  left: -9px;
}

.blog-section .custom-checkbox-2 .custom-control-label a {
  color: #f58031;
}

.blog-section .page-heading {
  margin-bottom: 32px;
}

.blog-section .page-heading p {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 19px;
  color: #737c8b;
}

.blog-section .blog-item {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
}

.blog-section .blog-no-img .blog-card {
  margin-bottom: 20px;
}

.blog-section .blog-no-img .blog-card .blog-img {
  display: none;
}

.blog-section .blog-no-img .blog-card .blog-info {
  padding: 0;
}

.blog-section .blog-card {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border: 0 solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog-section .blog-card .blog-img {
  width: 261px;
  min-width: 261px;
  height: 261px;
  background-color: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.blog-section .blog-card .blog-img a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: relative;
}

.blog-section .blog-card .blog-img::after {
  content: url("../images/icons/blog-img.svg");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  z-index: 1;
}

.blog-section .blog-card .blog-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  position: relative;
  z-index: 2;
}

.blog-section .blog-card .blog-info {
  padding: 15px 20px 15px 30px;
  width: 100%;
}

.blog-section .blog-card .blog-info .tags-div {
  display: block;
  margin-bottom: 23px;
}

.blog-section .blog-card .blog-info .tags-div .cat-tag {
  background-color: #1c283a;
  color: #fff;
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-section .blog-card .blog-info .tags-div .cat-tag:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f58031;
}

.blog-section .blog-card .blog-info h2 {
  color: #1c283a;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 100%;
}

.blog-section .blog-card .blog-info p {
  font-size: 16px;
  line-height: 19px;
  color: #737c8b;
  font-weight: 400;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 98%;
  margin-bottom: 15px;
}

.blog-section .blog-card .blog-info .blog-media ul li {
  margin-right: 20px;
  display: inline-block;
}

.blog-section .blog-card .blog-info .blog-media ul li a {
  color: #ccc;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.blog-section .blog-card .blog-info .blog-media ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ccc;
          text-decoration-color: #ccc;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.blog-section .blog-card .blog-info .blog-media ul li a span.img-icons {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-section .blog-card .blog-info .blog-media ul li a span.img-icons img {
  width: auto;
  height: 100%;
}

.blog-section .blog-card .blog-info .blog-media ul li a span {
  color: #f58031;
  display: inline-block;
  margin-left: 5px;
}

.blog-section .blog-right {
  padding: 0 20px;
}

.blog-section .blog-right .box-subscribe {
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
}

.blog-section .blog-right .box-subscribe p {
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 19px;
  color: #737c8b;
}

.blog-section .blog-right .box-looking-for {
  padding: 20px 0;
  margin-bottom: 30px;
}

.blog-section .blog-right .category-list {
  padding: 20px 0;
  margin-bottom: 30px;
}

.blog-section .blog-right .category-list .list-cat ul li {
  border-bottom: 1px solid #e6e6e6;
}

.blog-section .blog-right .category-list .list-cat ul li:last-child {
  border-bottom: 0;
}

.blog-section .blog-right .category-list .list-cat ul li a {
  padding: 16px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #1c283a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.blog-section .blog-right .category-list .list-cat ul li a span.bladge {
  height: 21px;
  width: 30px;
  padding: 3px 10px;
  background-color: #f58031;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.blog-section .blog-right .category-list .list-cat ul li a::after {
  content: url(../images/icons/polygon.svg);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 14px;
  left: 0;
}

.blog-section .blog-right .category-list .list-cat ul li a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fbfbfb;
}

.blog-section .blog-right .box-calendar {
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: left;
}

.blog-section .blog-right .box-calendar .calendar-blog {
  opacity: 0;
  height: 0;
  width: 100%;
}

.blog-section .blog-right .box-calendar .flatpickr-months .flatpickr-prev-month:hover svg,
.blog-section .blog-right .box-calendar .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #fff;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-months {
  background-color: #1c283a;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  color: #fff;
  fill: #fff;
  margin-top: 5px;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  color: #fff;
  fill: #fff;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar span.flatpickr-weekday {
  background-color: #1c283a;
  padding: 14px 2px;
  color: #fff;
  margin: 5px 3px;
  border-radius: 10px;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .nextMonthDay,
.blog-section .blog-right .box-calendar .flatpickr-calendar .prevMonthDay {
  visibility: hidden;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-day {
  margin: 3px 2px;
  background-color: #fbfbfb;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .today {
  background-color: #f58031;
  color: #fff;
}

.blog-section .blog-right .box-calendar .flatpickr-calendar .flatpickr-weekdays {
  height: 45px;
}

.blog-section .blog-right .box-follow {
  padding: 20px 0;
  margin-bottom: 30px;
}

.blog-section .blog-right .box-follow .follow-blog ul li {
  margin-bottom: 10px;
}

.blog-section .blog-right .box-follow .follow-blog ul li a {
  padding: 15px 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f58031;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.blog-section .blog-right .box-follow .follow-blog ul li a:hover {
  background-color: #f58031;
  border-color: #f58031;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 15px 0 rgba(245, 128, 49, 0.4);
          box-shadow: 0 3px 15px 0 rgba(245, 128, 49, 0.4);
}

.blog-section .blog-right .box-follow .follow-blog ul li a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-section .blog-right .box-follow .follow-blog ul li a span i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  margin-right: 8px;
  font-size: 26px;
}

.blog-section .blog-right .box-follow .follow-blog ul li a .arrow-right i {
  width: auto;
  margin-right: 0;
  font-size: 12px;
  -webkit-text-stroke: 1px #f58031;
}

.blog-section .banner-blog {
  background-image: url(../images/banner-blog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 80px 30px;
  min-height: 330px;
}

.blog-section .banner-blog .blog-banner-content .tags-div {
  display: block;
  margin-bottom: 20px;
}

.blog-section .banner-blog .blog-banner-content .tags-div .cat-tag {
  background-color: #1c283a;
  color: #fff;
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-section .banner-blog .blog-banner-content .tags-div .cat-tag:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f58031;
}

.blog-section .banner-blog .blog-banner-content .content {
  padding: 0;
}

.blog-section .banner-blog .blog-banner-content .content h2 {
  margin-bottom: 20px;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li {
  margin-right: 20px;
  display: inline-block;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li a {
  color: #ccc;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #ccc;
          text-decoration-color: #ccc;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li a span.img-icons {
  margin-right: 10px;
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li a span.img-icons img {
  width: auto;
  height: 100%;
}

.blog-section .banner-blog .blog-banner-content .blog-media ul li a span {
  color: #f58031;
  display: inline-block;
  margin-left: 5px;
}

.blog-section .blog-detail {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 25px;
  overflow: hidden;
}

.blog-section .blog-detail .content {
  padding: 20px 30px;
}

.blog-section .blog-detail .content a {
  color: #f58031;
  text-decoration: underline;
}

.blog-section .blog-detail .content p {
  font-size: 16px;
  line-height: 19px;
  color: #737c8b;
  margin-bottom: 20px;
}

.blog-section .blog-detail .content h1,
.blog-section .blog-detail .content h2,
.blog-section .blog-detail .content h3,
.blog-section .blog-detail .content h4,
.blog-section .blog-detail .content h5 {
  margin-bottom: 16px;
}

.blog-section .blog-detail .content img {
  width: 100%;
}

.blog-section .blog-detail .content small {
  font-size: 14px;
}

.blog-section .blog-detail .content blockquote {
  padding: 10px 20px;
  border-left: 2px solid #f58031;
  margin-bottom: 15px;
}

.blog-section .blog-detail .content blockquote p {
  padding-left: 0;
  font-size: 24px;
  font-style: italic;
  line-height: 29px;
  color: #1c283a;
}

.blog-section .blog-detail .content blockquote h1,
.blog-section .blog-detail .content blockquote h2,
.blog-section .blog-detail .content blockquote h3,
.blog-section .blog-detail .content blockquote h4,
.blog-section .blog-detail .content blockquote h5 {
  padding: 0 0;
}

.blog-section .blog-detail .content blockquote h5.author {
  text-align: right;
}

.blog-section .blog-detail .content .img-md {
  padding: 0 20px;
}

.blog-section .blog-detail .content .img-md img {
  margin-bottom: 10px;
}

.blog-section .blog-detail .content ul {
  margin: 0 0 20px 40px;
  padding-left: 20px;
}

.blog-section .blog-detail .content ul li {
  margin: 0;
  padding: 0;
  list-style-type: decimal;
  color: #737c8b;
}

.blog-section .blog-detail .content table {
  width: 100%;
}

.blog-section .blog-detail .content table th,
.blog-section .blog-detail .content table td {
  border: 1px solid #e6e6e6;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  min-height: 60px;
  padding: 20px 10px;
}

.blog-section .blog-detail .content table th {
  color: #1c283a;
}

.blog-section .blog-detail .content table td {
  color: #737c8b;
}

.blog-section .blog-detail .content ul.dot {
  margin: 0 0 20px 40px;
  padding-left: 20px;
}

.blog-section .blog-detail .content ul.dot li {
  margin: 0;
  padding: 0;
  list-style-type: initial;
  color: #737c8b;
}

.blog-section .blog-detail .content .tags-div {
  display: block;
  margin-bottom: 20px;
}

.blog-section .blog-detail .content .tags-div .cat-tag {
  background-color: #1c283a;
  color: #fff;
  display: inline-block;
  width: auto;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.blog-section .blog-detail .content .tags-div .cat-tag:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f58031;
}

.blog-section .blog-detail .post {
  border-top: 1px solid #e6e6e6;
  width: 100%;
  padding: 20px 30px 20px 140px;
  position: relative;
  min-height: 120px;
  margin-bottom: 10px;
}

.blog-section .blog-detail .post .post-img {
  height: 80px;
  width: 80px;
  top: 20px;
  left: 30px;
  position: absolute;
  background-color: #737c8b;
  border-radius: 100%;
  overflow: hidden;
}

.blog-section .blog-detail .post .post-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-section .blog-detail .post .post-auther p {
  font-size: 14px;
  line-height: 17px;
  color: #737c8b;
}

.blog-section .blog-detail .post .post-auther .post-social-media ul {
  display: block;
}

.blog-section .blog-detail .post .post-auther .post-social-media ul li {
  display: inline-block;
}

.blog-section .blog-detail .post .post-auther .post-social-media ul li a {
  color: #1c283a;
  font-size: 15px;
  margin-left: 5px;
}

.blog-section .blog-detail .post .post-auther .post-social-media ul li a:hover {
  color: #f58031;
}

.blog-section .post-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.blog-section .post-pagination .post-preview a {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color: #737c8b;
  margin-bottom: 10px;
}

.blog-section .post-pagination .post-preview a:hover {
  color: #f58031;
}

.blog-section .post-pagination .post-preview h5 {
  text-align: left;
}

.blog-section .post-pagination .post-next a {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  color: #737c8b;
  margin-bottom: 10px;
}

.blog-section .post-pagination .post-next a:hover {
  color: #f58031;
}

.blog-section .post-pagination .post-next h5 {
  text-align: right;
}

.blog-section .comment-section {
  padding: 20px 0 20px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-bottom: 25px;
}

.blog-section .comment-section .heading {
  padding: 0 30px;
}

.blog-section .comment-section .heading h3 {
  margin-bottom: 20px;
}

.blog-section .comment-section .comment-box {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.blog-section .comment-section .comment-box .comment-inner {
  padding: 0 30px;
}

.blog-section .comment-section .comment-box .comment-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

.blog-section .comment-section .comment-box .comment-header .comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-section .comment-section .comment-box .comment-header .comment-author .comment-profile {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.blog-section .comment-section .comment-box .comment-header .comment-author .comment-profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-section .comment-section .comment-box .comment-header .comment-author .comment-name {
  padding: 0 0 0 15px;
}

.blog-section .comment-section .comment-box .comment-header .comment-author .comment-name h6 {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 2px;
}

.blog-section .comment-section .comment-box .comment-header .comment-author .comment-name p {
  font-size: 14px;
  color: #737c8b;
  line-height: 17px;
  margin-bottom: 0;
}

.blog-section .comment-section .comment-box .comment-header .comment-action .btn-reply {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #1c283a;
}

.blog-section .comment-section .comment-box .comment-header .comment-action .btn-reply:hover {
  text-decoration: underline;
}

.blog-section .comment-section .comment-box .comment-body {
  margin-bottom: 5px;
}

.blog-section .comment-section .comment-box .comment-body p {
  color: #737c8b;
  font-size: 16px;
  line-height: 19px;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(1) {
  padding-left: 0;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(2) {
  padding-left: 30px;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(3) {
  padding-left: 60px;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(4) {
  padding-left: 60px;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(5) {
  padding-left: 90px;
}

.blog-section .comment-section .comment-group .comment-box:nth-child(6) {
  padding-left: 120px;
}

.blog-section .comment-section .comment-post {
  padding: 20px 30px;
}

.blog-section .comment-section .comment-post .form-group textarea {
  height: 108px !important;
}

@media (max-width: 767px) {
  .blog-section {
    padding-bottom: 20px;
  }
  .blog-section .blog-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .blog-section .blog-card .blog-img {
    width: 100%;
  }
  .blog-section .blog-card .blog-info {
    padding: 12px 0;
  }
  .blog-section .blog-card .blog-info h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .blog-section .banner-blog {
    padding: 50px 20px 40px 20px;
  }
  .blog-section .blog-detail .content {
    padding: 20px 20px;
  }
  .blog-section .blog-detail .content ul {
    margin-left: 20px;
  }
  .blog-section .blog-detail .content ul.dot {
    margin-left: 20px;
  }
  .blog-section .blog-detail .content .img-md {
    padding: 0;
  }
  .blog-section .comment-section .comment-box .comment-inner {
    padding: 0 15px;
  }
  .blog-section .comment-section .comment-post {
    padding: 20px 15px;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(1) {
    padding-left: 0;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(2) {
    padding-left: 0;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(3) {
    padding-left: 0;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(4) {
    padding-left: 0;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(5) {
    padding-left: 0;
  }
  .blog-section .comment-section .comment-group .comment-box:nth-child(6) {
    padding-left: 0;
  }
  .blog-section .blog-right {
    padding: 0 0;
  }
  .blog-section .blog-right .box-calendar {
    margin-bottom: 0;
  }
  .blog-section .blog-right .box-calendar .flatpickr-calendar {
    margin: 0 auto;
  }
  .blog-section .blog-right .box-looking-for {
    margin-bottom: 0;
  }
  .blog-section .blog-right .box-subscribe {
    margin-bottom: 0;
  }
  .blog-section .blog-right .category-list {
    margin-bottom: 0;
  }
  .blog-section .blog-right .box-follow {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .blog-section .box-calendar .flatpickr-calendar.inline {
    zoom: 90%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .blog-section .box-calendar .flatpickr-calendar.inline {
    zoom: 90%;
  }
}
/*# sourceMappingURL=blog.css.map */