.fileuploader {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;
}
.fileuploader #upload-label{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100% !important;
  display: block;
  text-align: center;
  cursor: pointer;
}
.fileuploader.active{
  background: #fff;
}
.fileuploader.active #upload-label{
  background: #fff;
  color: #444;
}

.fileuploader #upload-label i:hover {
    color: #444;
}

.fileuploader #upload-label span.title{
  font-size: 1em;
  font-weight: bold;
  display: block;
}

span.tittle {
    position: relative;
    top: 222px;
    color: #bdbdbd;
}

.upload-icon{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}
.upload-icon span{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
}

.upload-icon i {
    font-size: 50px;
}

.fileuploader #upload-label p {
    color: #8D8D8D;
}

.fileuploader #upload-label p span {
    color: #000;
}
.fileuploader #upload-label{
  text-align: center;
  display: block;
  color: #8D8D8D;
  height: 100%;
  font-size: 40px;
  position: absolute;
  text-align: left;
  padding: 30px 27px;
  top: 0px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
/** Preview of collections of uploaded documents **/
.preview-container{
  position: relative;
  bottom: 0px;
  width: 100%;
  margin: auto;
  top: 0px;
  visibility: hidden;
  margin-bottom: 20px;
}
.preview-container #previews{
  max-height: 400px;
  overflow: auto; 
}
.preview-container #previews .zdrop-info{
  width: 88%;
  margin-right: 2%;
}
.preview-container #previews.collection{
  margin: 0;
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview-container #previews.collection .collection-item {
    background-color: #fafafa;
    width: calc(33.33% - 20px);
    margin: 10px 10px 10px 10px;
    padding: 5px 10px;
    display: flex;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
}

.preview-container #previews.collection .actions a{
  width: 1.5em;
  height: 1.5em;
  line-height: 1;
  background-color: #F58031;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

}
.preview-container #previews.collection .actions a i{
  font-size: 1em;
  line-height: 1.6;
}
.preview-container #previews.collection .dz-error-message{
  font-size: 0.8em;
  margin-top: -12px;
  color: #F44336;
}



/*media queries*/

@media only screen and (max-width: 601px){
  .fileuploader {
    width: 100%;
  }

 .preview-container {
    width: 100%;
  }

  
}

@media (max-width: 767px){

    .preview-container #previews.collection .collection-item {
         width: 100%;
    }
}