.page-not-found-div{
    text-align: center;
    padding: 50px 20px;
}
.page-not-found-div > .page-not-found-image{
    margin-bottom: 50px;
}
.page-not-found-div > .page-not-found-image > img{
    width: auto;
    max-height: 340px;
    object-fit: contain;
}
.page-not-found-text{
    margin-bottom: 20px;
}
.page-not-found-text > h3{
    font-size: 24px;
    font-weight: 400;
    color: #222222;
    margin: 0;
}