.top-strip-title-div {
  padding: 0;
  margin: 0;
  position: relative;
  background: #f58031;
  min-height: 60px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .top-strip-content-div {
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.5;
      color: #fff;
      letter-spacing: 0;
      text-align: center;
      margin: 0;
    }
  }
}

.thank-you-form-section {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  --padding70: 70px;
  --minHeightFixed: 700px;
  --minHeightFixed02: calc(100vh - 165px);

  .thank-you-form-left-div {
    padding: var(--padding70);
    margin: 0;
    position: relative;
    min-height: var(--minHeightFixed);

    .title-div {
      margin: 0 0 20px 0;

      h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        color: #000;
        text-align: left;
        display: block;
      }
    }

    .video-div {
      .frame-video {
        width: 100%;
        height: 400px;
      }

      video.frame-video {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: top;
      }
      
    }
  }

  .thank-you-form-right-div {
    padding: var(--padding70);
    margin: 0;
    position: relative;
    background: #fafafa;
    min-height: var(--minHeightFixed);

    .header-title-div {
      margin: 0 0 40px 0;

      h1 {
        font-weight: 700;
        font-size: 38px;
        color: #1b293a;
        letter-spacing: 0;
        line-height: 1.5;
        margin: 0 0 15px 0;
      }

      h3 {
        font-weight: 500;
        font-size: 24px;
        color: #6fb02f;
        letter-spacing: 0;
        text-align: left;
        margin: 0 0 15px 0;
      }
    }

    .form-div {
      .form-group {
        margin-bottom: 30px;

        .label {
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          letter-spacing: 0;
        }

        .form-control {
          border: 2px solid rgba(0, 0, 0, 0.2);
          border-radius: 3px;
          height: 60px;
          background: transparent;
          box-shadow: none;
        }
      }

      .btn-div {
        margin: 0 0 10px 0;

        .btn.btn-primary.btn-lg {
          height: 60px;
          border-radius: 3px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .top-strip-title-div {
    min-height: 50px;

    .top-strip-content-div {
      p {
        font-size: 15px;
      }
    }
  }

  .thank-you-form-section {
    --padding70: 60px 20px;
    --minHeightFixed: auto;

    .thank-you-form-left-div {
      .title-div {
        h2 {
          font-size: 20px;
        }
      }

      .video-div {
        .frame-video {
          height: 300px;
        }
      }
    }

    .thank-you-form-right-div {
      .header-title-div {
        margin: 0 0 30px 0;

        h1 {
          font-size: 24px;
        }

        h3 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-strip-title-div {
    min-height: 50px;

    .top-strip-content-div {
      p {
        font-size: 15px;
      }
    }
  }

  .thank-you-form-section {
    --padding70: 70px 40px;
    --minHeightFixed: auto;

    .thank-you-form-left-div {
      .title-div {
        h2 {
          font-size: 22px;
        }
      }

      .video-div {
        .frame-video {
          height: 400px;
        }
      }
    }

    .thank-you-form-right-div {
      .header-title-div {
        margin: 0 0 30px 0;

        h1 {
          font-size: 30px;
        }

        h3 {
          font-size: 22px;
        }
      }
    }
  }
}